# Hypervisor
# xen or kvm
HYPERVISOR="kvm"

# CLUSTER NAME
# IMPORTANT: should be uniq to avoid loosing your VM/config while you are doing another deployment
CLUSTER="sle15test"

# Path to image storage
STORAGEP="/mnt/data/libvirt/images/${CLUSTER}"
SHARENAME="commondisk"
SHAREDISK="${STORAGEP}/${SHARENAME}/${SHARENAME}.img"


# Host ssh root key (will be 'ssh-copy-id' on node)
IDRSA="id_rsa_SLE"

# PSSH
PSSHCONF="/etc/nodes_${CLUSTER}"

# Virtual network name
NETMACHOST="52:54:00:89:b0:C9"
UUID="951e50f1-db73-475a-895f-28304baf8e8f"
BRIDGE="vibr3"
NODENAME="sle15hpc"
# number of nodes (MAX9) and MACADDR
NBNODE=6
MAC1="52:54:00:b7:92:aa"
MAC2="52:54:00:b7:92:bb"
MAC3="52:54:00:b7:92:cc"
MAC4="52:54:00:b7:92:dd"
MAC5="52:54:00:b7:92:ee"
MAC6="52:54:00:b7:92:ef"
MAC7="52:54:00:b7:92:af"
MAC8="52:54:00:b7:92:bf"
MAC9="52:54:00:b7:92:cf"

NODEDOMAIN="hpc.com"
NETWORKNAME="slenet"
NETWORK="192.168.14"

# MODIFY THIS PATH to your ISO IMAGE
# you should provide a SLE and Other ISO (MANDATORY for installation)
SLECDROM="/mnt/data/ISO/SLE15/SLE-15-Installer-DVD-x86_64-GM-DVD1.iso"
OTHERCDROM="/mnt/data/ISO/SLE15/SLE-15-Packages-x86_64-GM-DVD1.iso"
##SLECDROM="/mnt/data/ISO/SLE15devel/SLE-15-Server-DVD-x86_64-Buildxxx.x-Media1.iso"

# GENERAL VM Guest conf
# default will be 4096M of Ram (you can use KSM under KVM to share VM memory)
DISTRO="SLE15"
KEYMAP="fr"
VCPU="2"
RAM="2048"
IMAGESIZE="8G"
VMXML="vm.xml"
VMMINIXML="vm_mini.xml"
